body{
  text-align: center;
}
.row{
  display: flex;
  justify-content: center;
}

.piece{
  border: 1px solid red;
  width: 100px;
  height: 100px;
  margin: 1px;
}

#celebration{
  position: absolute;
  top: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#reset{ 
  position: absolute; 
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100px;
}

#msg{ display: none; }

#urlInput{ margin: 25px; }
/* 
#x1 {
  background-position: left 0 top 0;
}

#x2 {
  background-position: left 200px top 0;
}

#x3 {
  background-position: left 400px top 0;
}

#x4 {
  background-position: left 0 top 200px;
}

#x5 {
  background-position: left 200px top 200px;
}

#x6 {
  background-position: left 400px top 200px;
}

#x7 {
  background-position: left 0 top 400px;
}

#x8 {
  background-position: left 200px top 400px;
}

#x9 {
  background-position: left 400px top 400px;
}
 */

